@import './src/scss/variables';

//form
.form {
  width: 380px;
  margin: 140px auto 104px;

  @media (max-width: 567px) {
    max-width: 360px;
    width: 100%;
    @include padding360()
  }

  form {
    @include flex(null, flex-start, column);
  }

  h2 {
    color: black;
    margin-bottom: 50px;
    width: 100%;
  }

  &__input {
    width: 100%;
    position: relative;
    margin-bottom: 50px;

    input {
      display: block;
      width: 100%;
      height: 60px;
      color: #7E7E7E;
      padding: 14px 16px;
      background: transparent;
      border: 1px solid $border_color;
      border-radius: 4px;
      outline: none;
    }

    .error {
      border: 2px solid $red;
    }

    span {
      position: absolute;
      bottom: -16px;
      left: 0;
      font-size: 12px;
      line-height: 14px;
      color: #7E7E7E;
      margin-left: 16px;
    }
  }

  &__radios {
    padding-bottom: 47px;
    width: 100%;
    @include flex(null, null, column);

    label {
      margin-bottom: 14px;
    }

    &Wr {
      @include flex(center, flex-start, column);
      position: relative;
    }
  }

  &__radio {
    margin-bottom: 10px;

    &:nth-last-child(2) {
      margin-bottom: 0;
    }

    input {
      -webkit-appearance: none;
      appearance: none;
      position: absolute;
    }

    input:checked + label::after {
      transform: scale(1);
    }

    label {
      position: relative;
      padding-left: 32px;
      cursor: pointer;
      @include initial_bg_onTap;
    }

    label::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 20px;
      height: 20px;
      border: 1px solid $bg_blue;
      border-radius: 50%;
    }

    label::after {
      content: '';
      position: absolute;
      top: 6px;
      left: 6px;
      width: 10px;
      height: 10px;
      background: $bg_blue;
      border-radius: 50%;
      transform: scale(0);
      transition: .1s ease;
    }

    &Error {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
    }
  }

  &__inputBtn {
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    opacity: 0;
    z-index: -1;
  }

  &__uploadFile {
    width: 100%;
    @include flex(flex-start);
  }

  &__customBtn {
    padding: 14px 15px;
    border: 1px solid rgba(0, 0, 0, 0.87);
    border-radius: 4px 0 0 4px;
    cursor: pointer;
    @include initial_bg_onTap;
  }

  &__uploadText {
    width: 100%;
    padding: 14px 15px;
    border: 1px solid $border_color;
    border-radius: 0 4px 4px 0;
    overflow: hidden;
  }

  &FileError {
    display: flex;
    justify-content: flex-start;
  }

  &Btn {
    @include flex(center);
    width: 100%;
    margin-top: 50px;
    position: relative;
  }

  .submittingAnim button {
    animation: animBtn 2s ease infinite;
  }

  @keyframes animBtn {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
  }

  &__errorMessage {
    position: absolute;
    text-align: center;
    font-size: 12px;
    line-height: 14px;
    top: -40px;
    max-width: 100%;
    color: $red;
    opacity: 1;
    animation: hideMe 5s forwards;
  }

  &__success {
    @include flex(center, center, column);
    margin: 140px 0 160px 0;

    img {
      max-width: 328px;
      margin-top: 50px;
    }

    @media (max-width: 1024px) {
      @include padding1024();
    }
    @media (max-width: 992px) {
      @include padding768();
    }
    @media (max-width: 567px) {
      @include padding360();

      img {
        max-width: 282px;
      }
    }
  }
}