@mixin initial_bg_onTap {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@mixin flex($justify-content: null, $align-items: null, $flex-direction: null) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
  flex-direction: $flex-direction;
}

@mixin padding1024($topBottom: 0, $rightLeft: 60px ) {
  padding: $topBottom $rightLeft;
}

@mixin padding768($topBottom: 0, $rightLeft: 32px ) {
  padding: $topBottom $rightLeft;
}

@mixin padding360($topBottom: 0, $rightLeft: 16px ) {
  padding: $topBottom $rightLeft;
}