$bg_yellow: #F4E041;
$bg_blue: #00BDD3;
$bg_light-gray: #F8F8F8;
$bg_btn_hover: #FFE302;
$bg_btn_disabled: #B4B4B4;
$border_color: #D0CFCF;

$white: #FFFFFF;
$red: #CB3D40;

$text_color-black: rgba(0, 0, 0, 0.87);
$text_color-white: rgba(255, 255, 255, 0.87);